<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/July4,2010JennyLake.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h2>A Blog Website by Peter Fralick</h2>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Peter Fralick<br />
    PO Box 1164<br />
    Avon, CO 81620<br />
    <abbr title="Phone">P:</abbr>
    970-470-3233
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:petefralick3@gmail.com">petefralick3@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>